body { margin: 10px; }
div.section { margin-bottom: 20px; }
div.section span.title { font-weight: bolder; font-size: larger; text-decoration: underline;}
div.section div.content { }
table, th, td { border: 1px black solid; }
table { border-collapse: collapse; }